completions:
  - name: nb edit
    patterns:
      - '^nb e( .*) ?$'
      - '^nb edit( .*) ?$'
    sourceCommand: "nb ls --no-color | grep -E '^\\[[0-9]+\\]'"
    options:
      --ansi: true
      --prompt: "'nb edit >'"
      --preview: "echo {} | sed -E 's/^\\[([0-9]+)\\].*/\\1/' | xargs nb show"
    callback: "sed -E 's/^\\[([0-9]+)\\].*/\\1/'"

  - name: nb subcommands
    patterns:
      - '^\s*nb\s*$'
      - '^\s*nb\s+help\s*$'
    sourceCommand: "nb subcommands"
    options:
      --prompt: "'nb subcommand >'"

snippets:
  - name: Edit Note
    keyword: nbe
    snippet: nb edit

  - name: List Note
    keyword: nbl
    snippet: nb ls --limit 20

  - name: List All Note
    keyword: nbla
    snippet: nb ls --all

  - name: nb search
    keyword: nbg
    snippet: rg "{{keyword}}" "$(nb notebooks current --path)"
